<div class="pb-16">
    <app-header></app-header>

    <div class="border-2 mx-auto w-98 max-w-4xl rounded mt-24 h-72 max-h-80 flex flex-row">
        <div class="w-1/4 border-r-2 h-full divide-y-2 divide-gray-100">
            <a
                    class="w-full h-12 text-left px-5 py-2 font-medium text-lg items-center flex flex-row gap-2 hover:bg-gray-50"
                    *ngFor="let item of settingsUrl"
                    [routerLink]="item.url"
            >
                <ng-icon [name]="item.icon"></ng-icon>
                {{item.name}}
            </a>
        </div>
        <div class="w-3/4 h-full p-4">
            <router-outlet></router-outlet>
        </div>
    </div>

    <div class="absolute bottom-0 w-full h-16 pt-2">
        <app-footer></app-footer>
    </div>
</div>