<div class="rounded p-4 shadow-sm max-w-2xl	mx-auto mt-8 border-2 border-gray-50">
    <div class="bg-gray-100 rounded gap-4 flex p-3 font-medium justify-center max-w-sm mx-auto">
        <button class="bg-white rounded shadow px-3 py-1 hover:shadow-md">
            Pomodoro
        </button>
        <button class="bg-white rounded shadow px-3 py-1 hover:shadow-md">
            Short Break
        </button>
        <button class="bg-white rounded shadow px-3 py-1 hover:shadow-md">
            Long Break
        </button>
    </div>
    <div class="mt-8 font-medium text-8xl text-center">
        25:00
    </div>
    <div class="mt-8 flex justify-center">
        <button
                class="text-2xl px-8 py-6 font-medium text-white bg-clip-text text-transparent text-md rounded-md
                bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 active:translate-y-1 transform transition
                border-b-4 border-transparent active:border-gray-100 duration-150 ease-in-out">
            Start
        </button>
    </div>
</div>