<ng-container *ngIf="task">
    <div class="absolute bg-gray-700 opacity-70 w-full h-full top-0 left-0" (click)="closeModalEvent()"></div>

    <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-white w-full max-w-screen-sm md:max-w-2xl h-64 max-h-xl flex justify-between flex-col">
        <div class="p-4">
            <div class="flex flex-row justify-between">
                <div class="font-medium flex gap-2 flex-row">
                    <span class="text-md">Tasks</span>
                    <span class="text-gray-600 opacity-50 text-sm flex items-center">
                    {{ task.done}}/{{ task.iteration }}
                </span>
                </div>
                <div class="flex items-center text-xl cursor-pointer" (click)="closeModalEvent()">
                    <ng-icon name="heroXMark"></ng-icon>
                </div>
            </div>
            <div class="mt-4 flex gap-4 flex-col">
                <div class="font-medium">
                    <span class="text-xl">{{ task.title }}</span>
                    -
                    <span class="text-md text-black opacity-75">{{ task.completed ? 'Completed' : 'Not Completed' }}</span>
                </div>
                <div>
                    {{ task.notes }}
                </div>
            </div>
        </div>
        <div class="w-full bg-gray-200 p-4 flex flex-row justify-end text-md">
            <ng-container *ngIf="!task.completed; else completed">
                <button (click)="completeTaskEvent()"
                        class="px-4 py-1 bg-gray-800 text-white rounded-md shadow-sm hover:shadow-md hover:bg-gray-900 transition duration-200 ease-in-out disabled:opacity-50">
                    Complete
                </button>
            </ng-container>
            <ng-template #completed>
                <button (click)="resetCompletedTask()"
                        class="px-4 py-1 bg-gray-800 text-white rounded-md shadow-sm hover:shadow-md hover:bg-gray-900 transition duration-200 ease-in-out disabled:opacity-50">
                    Reset
                </button>
            </ng-template>
            <button
                    class="px-4 py-1 bg-gray-800 text-white rounded-md shadow-sm hover:shadow-md hover:bg-gray-900 transition duration-200 ease-in-out disabled:opacity-50">
                <ng-icon name="heroPencil"></ng-icon>
                Edit
            </button>
        </div>
    </div>
</ng-container>