<div class="rounded p-4 shadow-sm max-w-2xl	mx-auto mt-8">
    <div class="bg-gray-100 dark:bg-neutral-900 rounded gap-4 flex p-3 font-medium justify-center max-w-md mx-auto dark:text-white">
        <div class="rounded-md p-1"
             [ngClass]="{'bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500': timerState === 'pomodoro'}">
            <button (click)="changeTimerState('pomodoro')"
                    [disabled]="timerStarted"
                    [ngClass]="{'': timerState === 'pomodoro'}"
                    class="bg-white dark:bg-neutral-800 rounded shadow px-3 py-1 hover:shadow-md disabled:opacity-75 h-full">
                Pomodoro
            </button>
        </div>
        <div class="rounded-md p-1"
             [ngClass]="{'bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500': timerState === 'short-break'}">
            <button (click)="changeTimerState('short-break')"
                    [disabled]="timerStarted"
                    class="bg-white dark:bg-neutral-800 rounded shadow px-3 py-1 hover:shadow-md disabled:opacity-75 h-full">
                Short Break
            </button>
        </div>
        <div class="rounded-md p-1"
             [ngClass]="{'bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500': timerState === 'long-break'}">
            <button (click)="changeTimerState('long-break')"
                    [disabled]="timerStarted"
                    class="bg-white dark:bg-neutral-800 rounded shadow px-3 py-1 hover:shadow-md disabled:opacity-75 h-full">
                Long Break
            </button>
        </div>
    </div>
    <div class="mt-8 text-center tabular-nums dark:text-white">
        <div class="float-right text-sm w-4 h-4 text-center -mt-4">
            <button class="flex items-center cursor-pointer" (click)="resetCurrentTimer(timerState)">
                <ng-icon name="heroArrowPath"></ng-icon>
            </button>
        </div>
        <span class="text-8xl font-medium">{{time | showTime }}</span>
        <div *ngIf="hasLastTimeSaved"
             class="mt-5 text-sm p-3 rounded bg-gray-50 dark:bg-neutral-900 w-72 mx-auto">
            The last time saved before you leave the page was {{lastTimeSaved | showTime}} <br/>
            <div class="flex flex-row gap-1 text-center mt-1 justify-center">
                <button class="underline cursor-pointer" (click)="resumeLastTime()">
                    Want to continue?
                </button>
                <button class="underline cursor-pointer" (click)="deleteLastTime()">
                    or delete it?
                </button>
            </div>
        </div>
    </div>
    <div class="mt-8 flex justify-center">
        <ng-container *ngIf="!timerStarted; else stopTime">
            <button
                    (click)="startTimer()"
                    class="text-2xl px-8 py-5 font-medium bg-clip-text text-transparent text-md rounded-md
                bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 active:translate-y-1 transform transition
                border-b-4 border-transparent active:border-gray-100 duration-150 ease-in-out dark:bg-neutral-50">
                Start
            </button>
        </ng-container>
        <ng-template #stopTime>
            <button
                    (click)="stopTimer()"
                    class="text-2xl px-8 py-5 font-medium bg-clip-text text-transparent text-md rounded-md
                bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 active:translate-y-1 transform transition
                border-b-4 border-transparent active:border-gray-100 duration-150 ease-in-out">
                Stop
            </button>
        </ng-template>
    </div>
</div>