<ng-container *ngIf="timer; else noTimer">
    <div class="flex flex-col gap-4 divide-y-2">
        <div class="flex flex-row gap-2">
            <div class="flex flex-col min-w-[100px] gap-2">
                <label class="font-medium text-lg">Pomodoro</label>
                <span class="border-2 dark:border-neutral-600 outline-0 text-lg font-medium w-12 text-center bg-gray-100 rounded-md shadow-sm select-none dark:text-neutral-800">{{timer.pomodoro | showMinutes}}</span>
            </div>
            <div class="w-full flex justify-end">
                <button (click)="incrementTimer(1, 'pomodoro')"
                        class="w-1/2 px-2 justify-center text-2xl font-medium flex items-center text-center hover:shadow-sm hover:bg-gray-50 dark:hover:bg-neutral-800 dark:active:bg-neutral-900 transition duration-200 ease-in-out">
                    <ng-icon name="heroChevronUp"></ng-icon>
                </button>
                <button (click)="decrementTimer(1, 'pomodoro')"
                        class="w-1/2 px-2 justify-center text-2xl font-medium flex items-center text-center hover:shadow-sm hover:bg-gray-50 dark:hover:bg-neutral-800 dark:active:bg-neutral-900 transition duration-200 ease-in-out">
                    <ng-icon name="heroChevronDown"></ng-icon>
                </button>
            </div>
        </div>
        <div class="flex flex-row gap-2">
            <div class="flex flex-col min-w-[100px] gap-2">
                <label class="font-medium text-lg">Short Break</label>
                <span class="border-2 dark:border-neutral-600 outline-0 text-lg font-medium w-12 text-center bg-gray-100 rounded-md shadow-sm select-none dark:text-neutral-800">{{timer.shortBreak | showMinutes}}</span>
            </div>
            <div class="w-full flex">
                <button (click)="incrementTimer(1, 'shortBreak')"
                        class="w-1/2 px-2 justify-center text-2xl font-medium flex items-center text-center hover:shadow-sm hover:bg-gray-50 dark:hover:bg-neutral-800 dark:active:bg-neutral-900 transition duration-200 ease-in-out">
                    <ng-icon name="heroChevronUp"></ng-icon>
                </button>
                <button (click)="decrementTimer(1, 'shortBreak')"
                        class="w-1/2 px-2 justify-center text-2xl font-medium flex items-center text-center hover:shadow-sm hover:bg-gray-50 dark:hover:bg-neutral-800 dark:active:bg-neutral-900 transition duration-200 ease-in-out">
                    <ng-icon name="heroChevronDown"></ng-icon>
                </button>
            </div>
        </div>
        <div class="flex flex-row gap-2">
            <div class="flex flex-col min-w-[100px] gap-2">
                <label class="font-medium text-lg">Long Break</label>
                <span class="border-2 dark:border-neutral-600 outline-0 text-lg font-medium w-12 text-center bg-gray-100 rounded-md shadow-sm select-none dark:text-neutral-800">{{timer.longBreak | showMinutes}}</span>
            </div>
            <div class="w-full flex">
                <button (click)="incrementTimer(1, 'longBreak')"
                        class="w-1/2 px-2 justify-center text-2xl font-medium flex items-center text-center hover:shadow-sm hover:bg-gray-50 dark:hover:bg-neutral-800 dark:active:bg-neutral-900 transition duration-200 ease-in-out">
                    <ng-icon name="heroChevronUp"></ng-icon>
                </button>
                <button (click)="decrementTimer(1, 'longBreak')"
                        class="w-1/2 px-2 justify-center text-2xl font-medium flex items-center text-center hover:shadow-sm hover:bg-gray-50 dark:hover:bg-neutral-800 dark:active:bg-neutral-900 transition duration-200 ease-in-out">
                    <ng-icon name="heroChevronDown"></ng-icon>
                </button>
            </div>
        </div>
    </div>
</ng-container>
<ng-template #noTimer>
    Settings to change timer, cannot be loaded, please try again later.
</ng-template>