<ng-container *ngIf="timer; else noTimer">
    <div class="flex flex-row justify-between">
        <div class="flex flex-col items-center gap-2">
            <label class="font-medium text-lg">Pomodoro</label>
            <span class="border-2 dark:border-neutral-600 outline-0 text-lg font-medium w-12 text-center bg-gray-100 rounded-md shadow-sm select-none dark:text-neutral-800">{{timer.pomodoro | showMinutes}}</span>

        </div>
        <div class="flex flex-col items-center gap-2">
            <label class="font-medium text-lg">Short Break</label>
            <span class="border-2 dark:border-neutral-600 outline-0 text-lg font-medium w-12 text-center bg-gray-100 rounded-md shadow-sm select-none dark:text-neutral-800">{{timer.shortBreak | showMinutes}}</span>
        </div>
        <div class="flex flex-col items-center gap-2">
            <label class="font-medium text-lg">Long Break</label>
            <span class="border-2 dark:border-neutral-600 outline-0 text-lg font-medium w-12 text-center bg-gray-100 rounded-md shadow-sm select-none dark:text-neutral-800">{{timer.longBreak | showMinutes}}</span>
        </div>
    </div>
</ng-container>
<ng-template #noTimer>
    Settings can't be loaded
</ng-template>